name: Build artifacts

on:
  push:
    branches:
      - "*"


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Store short commit hash
        run: echo "short_commit_hash=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"

      - name: Build with Gradle
        run: ./gradlew build
        env:
          IS_PRODUCTION_BUILD: true
          VERSION_SUFFIX: ${{ env.short_commit_hash }}

      - name: Publish to Maven
        run: ./gradlew publishMavenPublicationToOffsetMonkey538Repository
        env:
          IS_PRODUCTION_BUILD: true
          DISABLE_PROPERTIES_UPDATE: true
          VERSION_SUFFIX: ${{ env.short_commit_hash }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

      - name: Delete common libs
        run: rm -r ./common/build/libs

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: |
            ./*/build/libs/
