name: Build artifacts

on:
  push:
    branches:
      - "*"


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Store short commit hash
        run: echo "short_commit_hash=$(git rev-parse --short "$GITHUB_SHA")" >> "$GITHUB_ENV"

      - name: Build with Gradle
        run: ./gradlew build
        env:
          IS_PRODUCTION_BUILD: true
          CUSTOM_VERSION: ${{ env.short_commit_hash }}

      - name: Delete common libs
        run: rm -r ./common/build/libs

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: |
            ./*/build/libs/
            ./*/*/build/libs/
